.display {
    width: 100%;
    background-color: #222222;
    color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.display p {
    font-size: 72px;
    padding-right: 20px;
}

.calcPad {
    display: flex;
    width: 100%;
    
}

.action-Pad {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.numPad {
    display: flex;
    flex-wrap: wrap;
    width: 354px;
    padding: 0;
    margin: 0;
}


